imgui.ini

# Binaries
/bin/
/bin-int/

# Visual Studio files and folder 
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.code-workspace
**.sln.DotSettings.user
**.sln.DotSettings

# Rider files and folder
.idea/

# vscode files and folder
.vscode/
